# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

bin
build
*.pro.user*
Makefile*
object_script.*
*.qm
ui/include
*.swp
documentation/output

